<select class="col-xs-3" (change)="onChange($event.target.value)">
  <option class="namel" value="all">Show All</option>
  <option class="namel" value="isUnder500">Show under 500</option>
  <option class="namel" value="isOver500" selected="selected">Show over 500</option>
</select>
<br>
<div *ngFor="let currentMeal of childMealList | completeness:selectedCompleteness">
  <meal-display [meal]="currentMeal"></meal-display>
  <h3>{{currentMeal.name}} | {{currentMeal.description}} | {{currentMeal.calories}}</h3>
  <form *ngIf="currentMeal === selectedMeal">
    <input [(ngModel)]="currentMeal.name">
    <input [(ngModel)]="currentMeal.description">
    <input [(ngModel)]="currentMeal.calories" type="number" aria-label="amount">
  </form>
  <button class="btn btn-warning btn-md" (click)="editButtonHasBeenClicked(currentMeal)">Edit</button>