button {
    min-height: 23px !important;
    min-width: 46px !important;
    font-size: 10px !important;
    line-height: 0px; 
    color: whitesmoke;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.form-group {
width: 10em;
height: 2em;
}

h2 {
   /* background-color: f38384; */
   color: green;
   font-family: 'Roboto', 'Open Sans';
   font-size: 2em;
   
}

:root {
    --spacing: 1rem;
    --imgWidth: 100px;
    --imgHeight: 100px;
  }
  
  @mixin shadow($level: 1, $background: black) {
         @if $level == 1 { box-shadow: 0 1px   3px rgba(0,0,0,0.12), 0   1px 2px rgba($background,0.24) }
    @else if $level == 2 { box-shadow: 0 3px   6px rgba(0,0,0,0.16), 0   3px 6px rgba($background,0.23) }
    @else if $level == 3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0   6px 6px rgba($background,0.23) }
    @else if $level == 4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba($background,0.22) }
    @else if $level == 5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba($background,0.22) }
  }
  
   mat-card {
    @include shadow(1);
    // focus isn't going to be visible unless it has an href or a tabindex
    &:hover,&:focus {
      @include shadow(3);
      transform: translateY(-5px); 
    }
    &:active {
      @include shadow(2);
      transform: translateY(-2px);
    } 
  }
  
  // Vanity styles
  mat-card {
    background: #f9f9f9;
    margin: 3rem 2rem;
    font-family: "Roboto", sans-serif;
  }
  
.name {
    font-family: 'Roboto', 'Open Sans';
    color: black;
    font-weight: 500;
    font-size: 1.2em;
}

