<br/>
<mat-card>
  <mat-card-content>
    <h2>Add Meal</h2>
    <div class="mat-form">
      <form class="add-new-meal">
        <label class="name" for="">Name:</label>
        &nbsp;
        <input placeholder="food name" class="form-group" type="text" name="name" value="" #newName> &nbsp;
        <label class="name " for="name">Description:</label>
        &nbsp;
        <input placeholder="food description" class="form-group" type="text" name="name" value="" #newDescription> &nbsp;
        <label class="name" for="">Calories:</label>
        &nbsp;
        <input placeholder="calories amount" class="form-group" type="text" name="name" value="" #newCalories> &nbsp; &nbsp; 
        <button mat-raised-button color="success" (click)="
              addClicked(newName.value,newDescription.value ,newCalories.value);
              newName.value='';
              newDescription.value='';
              newCalories.value='';
            ">Add</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>