
<div *ngIf="childSelectedMeal">
  <h1>Edit Meal</h1>
  <div>
    <label class="name">Enter Meal Name:</label>
    <input [(ngModel)]="childSelectedMeal.name">
  </div>
  <div>
    <label class="name">Enter Meal Description:</label>
    <input [(ngModel)]="childSelectedMeal.description">
  </div>
  <div>
    <label class="name">Enter Meal Calories:</label>
    <input [(ngModel)]="childSelectedMeal.calories">
  </div>
  <button mat-raised-button color="success" (click)="doneClicked()">Done</button>
</div>



<!-- <mat-card>
  <mat-card-content>
      <mat-form-field>

          <mat-select placeholder="Calorie amount" [(value)]="selectedCompleteness">
            <mat-option value="all">Show All</mat-option>
            <mat-option value="isOverng500">Over 500</mat-option>
            <mat-option value="isUnder500">Under 500</mat-option>
          </mat-select>


        </mat-form-field>
  </mat-card-content>
</mat-card> -->



<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description">
    </mat-form-field>
      ....
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>